<div class="profile-row">
  <div class="profile">
    <%= image_tag Gravatar.new(gravatar_email_address).image_url(size: 200) %>
  </div>

  <div class="bio">
    <h2>Hello there! This is <%= full_name %>.</h2>
    <h4>A 4A software engineering student in University of Waterloo.</h4>
    <p>I am looking for a 2017 summer internship, and I will graduate in December 2017. I have put my resume and GitHub link on this website, if you want to learn more about me, please send me emails! I will be more than happy to chat with you.  :)</p>
    <!-- Short bio about yourself, your skills, whether you're looking for work or not, etc. -->
  </div>
</div>

<div class="featured-element-row">


</div>
