<div class="profile-row">
  <div class="profile">
    <%= image_tag Gravatar.new(gravatar_email_address).image_url(size: 200) %>
  </div>

  <div class="bio">
  	    <div class="actor">
           <div class="actor__prefix">-</div>
           <div id="vader" class="actor__content"></div>
        </div>
  </div>
</div>

<div class="featured-element-row">


</div>
   <script src="//cdn.jsdelivr.net/theaterjs/latest/theater.min.js"></script>
    <script>
  var theater = theaterJS()

theater
  .on('type:start, erase:start', function () {
    theater.getCurrentActor().$element.classList.add('blinking-caret')
  })
  .on('type:end, erase:end', function () {
    theater.getCurrentActor().$element.classList.remove('blinking-caret')
  })
  .on('type:start, erase:start', function () {
    if (theater.getCurrentActor().name === 'vader') {
      document.body.classList.add('dark')
    } else {
      document.body.classList.remove('dark')
    }
  })

theater
  .addActor('vader', { speed: 0.8, accuracy: 1 })
  .addScene('vader: Hello there! This is Lynne Meng.', 800)
  .addScene('vader: A 3B software engineering student in University of Waterloo.', 800)
  .addScene('vader: I am working very hard on the new version of my site.', 1600)
  .addScene('vader: It will bring a lot of new features. ', 1600)
  .addScene('vader: Stay tuned!', 800)
  .addScene(theater.replay.bind(theater))
</script>