<div class="profile-row">
  <div class="profile">
    <%= image_tag Gravatar.new(gravatar_email_address).image_url(size: 200) %>
  </div>

  <div class="bio">
    <h2>Hello there! This is <%= full_name %>.</h2>
    <h4>A 3B software engineering student in University of Waterloo.</h4>
    <p>I am working very hard on the new version of my site. It will bring a lot of new features. Stay tuned!</p>
    <!-- Short bio about yourself, your skills, whether you're looking for work or not, etc. -->
  </div>
</div>

<div class="featured-element-row">


</div>
